<!doctype html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<title>Home page</title>

</head>
<body>
	<!-- Navbar -->


	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Employee Management</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item active"><a class="nav-link" href="addemp">Add
						Employee</a></li>

			</ul>
		</div>
	</nav>

	<!-- Navbar -->
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<div class="card-body">
						<h4 class="text-center text-primary">Add Employee</h4>

						<form th:action="@{/register}" method="post"
							onsubmit="return phonenumber()">

							<div class="form-group">
								<label>Enter Full Name</label> <input type="text"
									class="form-control" name="name" pattern="[A-Za-z]{1,15}" required>
							</div>

							<div class="form-group">
								<label>Enter Address</label> <input type="text"
									class="form-control" name="address" required>
							</div>

							<!-- characters@characters.domain (characters followed by an @ sign,
							followed by more characters, and then a "." After the "." sign,
							add at least 2 letters from a to z: -->

							<div class="form-group">
								<label>Enter Email</label> <input type="email"
									class="form-control" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
							</div>


							<!-- <div>
							  <label for="email">Enter your email:</label>
                              <input type="email" id="email" name="email">
                            </div>
                            -->
							<div class="form-group">
								<label>Enter Phone No</label> <input type="tel"
									class="form-control" name="phno" pattern="[789][0-9]{9}" maxlength="10" minlength="10" required>
							</div>


							<div class="form-group">
								<label>Enter Salary</label> <input type="number"
									class="form-control" name="salary" required>
							</div>

							<div class="form-group">
								<label>Enter Account</label> <input type="number"
									class="form-control" name="acno" required>
							</div>

							<button class="btn btn-primary btn-block">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- <script type="text/javascript">
	function phonenumber(phno)
	{
	  var phoneno = /^\d{10}$/;
	  if((phno.value.match(phoneno)))
	  {
	     return true;
	  }
	  else
	  {
	     alert("not matching");
	     return false;
	  }
	}
</script> -->


</body>
</html>